@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-white;
  }
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }
}